@font-face {
  font-family: bomberFont;
  src: url(bomberfont.otf);
}
@font-face {
  font-family: nrFont;
  src: url(kongtext.ttf);
}
:root {
  --size: 0;
  --gbwidth: 0;
  --gbheight: 0;
  --mode: green;
}
* {
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  overflow: hidden;
  background-color: black;
}
div,
canvas {
  height: var(--size);
  width: var(--size);
  background-size: contain;
  image-rendering: pixelated;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}
#test {
  width: fit-content;
  transform: translate(0,0);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: calc(11 * var(--size) / 2); */
}
.container {
  display: flex;
  width: max-content;
  flex-direction: row;
}
body {
  display: flex;
  flex-direction: column;
}
.sprite, .baloon, .explosion {
  margin-left: calc(50% - var(--gbwidth)* var(--size) / 2);
  /* margin-top: calc(11 * var(--size) / 2); */
  filter: drop-shadow(2px 2px 1px black);
}
.baloon {
  z-index: 99;
  position: absolute;
  transition: linear 1s;
}
.sprite {
  position: absolute;
  z-index: 95;
}
.explosion {
  position: absolute;
  z-index: 97;
  filter: drop-shadow(0px 0px 20px orange);
}
#player,
#dead_guy {
  transform: translate(calc(var(--size) * 0.25), calc(var(--size) * 0.37));
  z-index: 98;
}
#bomb {
  z-index: 96;
}
.stone {
  z-index: 100;
  filter: drop-shadow(2px 2px 1px black);
  background-size: cover;
}
.title {
  font-family: bomberFont;
  position: absolute;
  font-size: 5vw;
  top: 95px;
  left: 50%;
  letter-spacing: 2px;
  transform: translateX(-50%);
  color: lightgray;
  text-shadow: 5px 5px 0px green;
}
.controls {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px;
  display: flex;
  transform: translate(-50%, 0);
  position: absolute;
  left: 50%;
  top: calc(9 * var(--size) / 2);
  gap: 4px;
}
.controls button {
  width: max-content;
  border-top: 3px solid gray;
  border-left: 3px solid gray;
  background-color: rgb(39, 39, 39);
  color: white;
  font-family: bomberFont;
  font-size: calc(var(--size) / 2);
  letter-spacing: 2px;
  height: var(--gbheight);
}
.controls button:first-of-type {
  border-top: 3px solid red;
  border-left: 3px solid red;
  background-color: darkred;
}
.unstarted canvas {
  filter: sepia(1) hue-rotate(120deg);
}
.controls button span {
  color:aqua;
  font-family: nrFont;
  letter-spacing: -3px;
}
#end-screen {
  position: absolute;
  left: 50%;
  top: -100%;
  transition-duration: .3s;
  transform: translate(-50%,-50%);
  background-color: black;
  color: white;
  width: fit-content;
  height: fit-content;
  border: 3px solid red;
  display: flex;
  z-index: 101;
  padding: 20px;
}
#end-screen img {
  width: 100px;
}
h1 {
  font-family: bomberFont;
  letter-spacing: 2px;
  color: lightgray;
}
#end-screen div {
  width: fit-content;
  height: fit-content;
}
#end-screen div h2 {
  font-family: bomberFont;
  display: flex;
  justify-content: space-between;
}
#end-screen div h2 span {
  font-family: nrFont;
  color: aqua;
}

.active {
  filter: invert(1);
}
.active p {
  filter: invert(1);
}
.modes {
  font-family: nrFont;
  text-align: center;
  font-size: calc(var(--size) * 0.8);
  text-transform: uppercase;
  cursor: pointer;
}
.modes:hover {
  filter: brightness(150%);
}
.active:hover {
  filter: invert(1) brightness(150%);
}
.modes:nth-of-type(10) {
  color: green;
}
.modes:nth-of-type(11) {
  color: orange;
}
.modes:nth-of-type(12) {
  color: black;
}
.field {
  background: var(--mode);
}
.stone {
  background-size: cover;
}
.off {
  opacity: 0 !important;
  color: yellow !important;
}
.comm {
  transition: color ease-in-out 2s;
  font-size: calc(var(--size) / 2);
  font-family: nrFont;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
  opacity: 100%;
  position: absolute;
  color: white;
}
#tk {
  color: orange;
  transform: translate(-50%, calc(var(--size) * 0.5));
  animation: wobble-tk .1s ease-in-out infinite;
}
#qk {
  color: red;
  transform: translate(-50%, var(--size));
  animation: wobble-qk .1s ease-in-out infinite;
}
#ik {
  color: black;
  transform: translate(-50%, calc(var(--size) * 1.5));
  animation: wobble-ik .1s ease-in-out infinite;
}

@keyframes power {
  0% {
    opacity: .9;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .9;
  }
}
@keyframes wobble-tk {
  0% {
    transform: translate(-50%, calc(var(--size) * 0.5));
  }
  50% {
    transform: translate(-49%, calc(var(--size) * 0.5 - 2px));
  }
  100% {
    transform: translate(-50%, calc(var(--size) * 0.5));
  }
}
@keyframes wobble-qk {
  0% {
    transform: translate(-50%, var(--size));
  }
  50% {
    transform: translate(-48%, calc(var(--size) - 5px));
  }
  100% {
    transform: translate(-50%, var(--size));
  }
}
@keyframes wobble-ik {
  0% {
    transform: translate(-50%, calc(var(--size) * 1.5));
  }
  50% {
    transform: translate(-47%, calc(var(--size) * 1.5 - 10px));
  }
  100% {
    transform: translate(-50%, calc(var(--size) * 1.5));
  }
}